.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets
*.code-workspace

*.vsix

*.pyc
*.pyo
*.py[cod]
*.pyd
__pycache__/

.venv/
venv/
env/

*.log
db.sqlite3
media/

.env
.env.*

.DS_Store
Thumbs.db

.coverage
htmlcov/

node_modules/